# 1. Import Libraries and Dataset

# 2. Checking Columns Headers and Adding 'year' to all tables

# 3. Wrangling

Renaming Columns, Checking Data Types, Dropping Columns as needed to prepare for mergeing data sets.

## 2015

## 2016

## 2017

## 2018

## 2019

# 4. Concating All Tables 2015 to 2019

# 5.Standardizing Regional Column

# 6. Exporting Data

----

# 1. Import Libraries and Dataset

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Creating Pathway for data
path =(r'C:\Users\colmu\Desktop\Documents\GitHub Documents\CF_WHR')

In [3]:
#Importing dataset 2015
DF_2015=pd.read_csv(os.path.join(path,'data','Original Data','World Wide Happiness Report','2015.CSV'))
DF_2015.shape

(158, 12)

In [4]:
#Importing dataset 2016
DF_2016=pd.read_csv(os.path.join(path,'data','Original Data','World Wide Happiness Report','2016.CSV'))
DF_2016.shape

(157, 13)

In [5]:
#Importing dataset 2017
DF_2017=pd.read_csv(os.path.join(path,'data','Original Data','World Wide Happiness Report','2017.CSV'))
DF_2017.shape

(155, 12)

In [6]:
#Importing dataset 2018
DF_2018=pd.read_csv(os.path.join(path,'data','Original Data','World Wide Happiness Report','2018.CSV'))
DF_2018.shape

(156, 9)

In [7]:
#Importing dataset 2019
DF_2019=pd.read_csv(os.path.join(path,'data','Original Data','World Wide Happiness Report','2019.CSV'))
DF_2019.shape

(156, 9)

-----

# 3. Wrangling

## 2015

In [8]:
#checking header and adding year as a column
DF_2015['year'] = '2015'
DF_2015.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015

In [9]:
#Dropping all CI/standard error columns
DF_2015= DF_2015.drop(columns=['Standard Error','Dystopia Residual'])
DF_2015

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,2015

### 2015 Renaming Columns

In [10]:
# Renaming 2015 columns
DF_2015.rename(
    columns={"County":"Country", "Region":"region", "Happiness Rank":"happiness_rank", "Happiness Score":"happiness_score", "Family":"social_support", "Economy (GDP per Capita)":"logged_GDP_per_capita", "Health (Life Expectancy)":"healthy_life_expectancy", "Freedom":"freedom_to_make_life_choices", "Generosity":"generosity", "Trust (Government Corruption)":"perceptions_of_corruption"},
    inplace=True,
)

DF_2015

,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,perceptions_of_corruption,generosity,year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,2015

In [11]:
# reorder columns
DF_2015= DF_2015.reindex(columns=["year","Country", "region", "happiness_rank", "happiness_score", "logged_GDP_per_capita","social_support", "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"])

DF_2015

,year,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2015,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957
...,...,...,...,...,...,...,...,...,...,...,...
153,2015,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.22628,0.55191
154,2015,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.18260,0.08010
155,2015,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.47179,0.18906
156,2015,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.19727,0.10062
157,2015,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.16681,0.10731

### 2015 Checking Data Types

In [12]:
#Checking data types
DF_2015.dtypes

year                             object
Country                          object
region                           object
happiness_rank                    int64
happiness_score                 float64
logged_GDP_per_capita           float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [13]:
# Checking for mixed type data
for col in DF_2015.columns.tolist():
  weird = (DF_2015[[col]].map(type) != DF_2015[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (DF_2015[weird]) > 0:
    print (col)

----------

## 2016

In [14]:
#checking header and adding year as a column
DF_2016['year'] = '2016'
DF_2016.head(3)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016

In [15]:
#Dropping all CI/standard error columns
DF_2016= DF_2016.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval','Dystopia Residual'])
DF_2016

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2016
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2016
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2016
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,2016
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2016

### 2016 Renaming Columns

In [16]:
# Renaming 2016 columns
DF_2016.rename(
    columns={"County":"Country", "Region":"region", "Happiness Rank":"happiness_rank", "Upper Confidence Interval":"upper_confidence_interval", "Happiness Score":"happiness_score", "Family":"social_support", "Economy (GDP per Capita)":"logged_GDP_per_capita", "Health (Life Expectancy)":"healthy_life_expectancy", "Freedom":"freedom_to_make_life_choices", "Generosity":"generosity", "Trust (Government Corruption)":"perceptions_of_corruption"},
    inplace=True,
)

DF_2016

,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,perceptions_of_corruption,generosity,year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2016
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2016
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2016
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,2016
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2016

In [17]:
# reorder columns
DF_2016= DF_2016.reindex(columns=["year","Country", "region", "happiness_rank", "happiness_score", "logged_GDP_per_capita","social_support", "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"])

DF_2016

,year,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2016,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453
1,2016,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203
2,2016,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975
3,2016,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776
4,2016,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004
...,...,...,...,...,...,...,...,...,...,...,...
152,2016,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.20180,0.06681
153,2016,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.31268,0.07112
154,2016,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.17517,0.11587
155,2016,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.48397,0.17233
156,2016,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.20290,0.09419

### 2016 Checking Data Types

In [18]:
#Checking data types
DF_2016.dtypes

year                             object
Country                          object
region                           object
happiness_rank                    int64
happiness_score                 float64
logged_GDP_per_capita           float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [19]:
# Checking for mixed type data
for col in DF_2016.columns.tolist():
  weird = (DF_2016[[col]].map(type) != DF_2016[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (DF_2016[weird]) > 0:
    print (col)

----------

## 2017

In [20]:
#checking header and adding year as a column
DF_2017['year'] = '2017'
DF_2017.head(3)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017

In [21]:
#Dropping all CI/standard error columns
DF_2017= DF_2017.drop(columns=['Whisker.high','Whisker.low','Dystopia.Residual'])
DF_2017

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,2017
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,2017
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,2017
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,2017
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2017

### 2017 Renaming Columns

In [22]:
# Renaming 2017 columns
DF_2017.rename(
    columns={"County":"Country", "Happiness.Rank":"happiness_rank", "Happiness.Score":"happiness_score","Family":"social_support", 
             "Economy..GDP.per.Capita.":"logged_GDP_per_capita", "Health..Life.Expectancy.":"healthy_life_expectancy",
             "Freedom":"freedom_to_make_life_choices", "Generosity":"generosity","Trust..Government.Corruption.":"perceptions_of_corruption"},
    inplace=True,
)

DF_2017

,Country,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,2017
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,2017
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,2017
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,2017
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2017

In [23]:
# reorder columns
DF_2017= DF_2017.reindex(columns=["year","Country", "region", "happiness_rank", "happiness_score", "logged_GDP_per_capita","social_support", "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"])
DF_2017

,year,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2017,Norway,NaN,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,2017,Denmark,NaN,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,2017,Iceland,NaN,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,2017,Switzerland,NaN,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,2017,Finland,NaN,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...,...,...
150,2017,Rwanda,NaN,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,2017,Syria,NaN,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,2017,Tanzania,NaN,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,2017,Burundi,NaN,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,2017,Central African Republic,NaN,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

### 2017 Checking Data Types

In [24]:
#Checking data types
DF_2017.dtypes

year                             object
Country                          object
region                          float64
happiness_rank                    int64
happiness_score                 float64
logged_GDP_per_capita           float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [25]:
# Checking for mixed type data
for col in DF_2017.columns.tolist():
  weird = (DF_2017[[col]].map(type) != DF_2017[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (DF_2017[weird]) > 0:
    print (col)

----------

## 2018

In [26]:
#checking header and adding year as a column
DF_2018['year'] = '2018'
DF_2018.head(3)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018

### 2018 Renaming Columns

In [27]:
# Renaming 2018 columns
DF_2018.rename(
    columns={"Country or region":"Country", "Overall rank":"happiness_rank", "Score":"happiness_score", "Social support":"social_support", "GDP per capita":"logged_GDP_per_capita", "Healthy life expectancy":"healthy_life_expectancy", "Freedom to make life choices":"freedom_to_make_life_choices", "Generosity":"generosity", "Perceptions of corruption":"perceptions_of_corruption"},
    inplace=True,
)

DF_2018

,happiness_rank,Country,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

### 2018 Checking Data Types

In [28]:
#Checking data types
DF_2018.dtypes

happiness_rank                    int64
Country                          object
happiness_score                 float64
logged_GDP_per_capita           float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
year                             object
dtype: object

In [29]:
# Checking for mixed type data
for col in DF_2018.columns.tolist():
  weird = (DF_2018[[col]].map(type) != DF_2018[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (DF_2018[weird]) > 0:
    print (col)

In [30]:
# reorder columns
DF_2018= DF_2018.reindex(columns=["year","Country", "region", "happiness_rank", "happiness_score", "logged_GDP_per_capita","social_support", "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"])
DF_2018

,year,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2018,Finland,NaN,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2018,Norway,NaN,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,2018,Denmark,NaN,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,2018,Iceland,NaN,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,2018,Switzerland,NaN,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,2018,Yemen,NaN,152,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,2018,Tanzania,NaN,153,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,2018,South Sudan,NaN,154,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,2018,Central African Republic,NaN,155,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,2018,Burundi,NaN,156,2.905,0.091,0.627,0.145,0.065,0.149,0.076

---

## 2019

In [31]:
#checking header and adding year as a column
DF_2019['year'] = '2019'
DF_2019.head(3)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019

### 2019 Renaming Columns

In [32]:
# Renaming 2019 columns
DF_2019.rename(
    columns={"Country or region":"Country", "Overall rank":"happiness_rank", "Score":"happiness_score", "Social support":"social_support", "GDP per capita":"logged_GDP_per_capita", "Healthy life expectancy":"healthy_life_expectancy", "Freedom to make life choices":"freedom_to_make_life_choices", "Generosity":"generosity", "Perceptions of corruption":"perceptions_of_corruption"},
    inplace=True,
)

DF_2019

,happiness_rank,Country,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [33]:
# reorder columns
DF_2019= DF_2019.reindex(columns=["year","Country", "region", "happiness_rank", "happiness_score", "logged_GDP_per_capita","social_support", "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"])
DF_2019

,year,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2019,Finland,NaN,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,Denmark,NaN,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,Norway,NaN,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,Iceland,NaN,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,Netherlands,NaN,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
151,2019,Rwanda,NaN,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,2019,Tanzania,NaN,153,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,2019,Afghanistan,NaN,154,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,2019,Central African Republic,NaN,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,2019,South Sudan,NaN,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

### 2019 Checking Data Types

In [34]:
#Checking data types
DF_2019.dtypes

year                             object
Country                          object
region                          float64
happiness_rank                    int64
happiness_score                 float64
logged_GDP_per_capita           float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [35]:
# Checking for mixed type data
for col in DF_2019.columns.tolist():
  weird = (DF_2019[[col]].map(type) != DF_2019[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (DF_2019[weird]) > 0:
    print (col)

------

# Concating All Tables 2015 to 2019

In [36]:
#Concat all datasets 2015-2019
DF_all= pd.concat([DF_2015, DF_2016, DF_2017,DF_2018,DF_2019], ignore_index=True)

display(DF_all)

,year,Country,region,happiness_rank,happiness_score,logged_GDP_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,2015,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957
...,...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,NaN,152,3.334,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100
778,2019,Tanzania,NaN,153,3.231,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700
779,2019,Afghanistan,NaN,154,3.203,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500
780,2019,Central African Republic,NaN,155,3.083,0.02600,0.00000,0.10500,0.22500,0.23500,0.03500
781,2019,South Sudan,NaN,156,2.853,0.30600,0.57500,0.29500,0.01000,0.20200,0.09100

In [37]:
# Updating Column Names
DF_all.rename(
    columns={ "Family":"social_support", "logged_GDP_per_capita":"perceptions_of_economy", "Health (Life Expectancy)":"healthy_life_expectancy", "freedom_to_make_life_choices":"perceptions_of_freedom", "generosity":"perceptions_of_generosity"},
    inplace=True,
)

DF_all

,year,Country,region,happiness_rank,happiness_score,perceptions_of_economy,social_support,healthy_life_expectancy,perceptions_of_freedom,perceptions_of_generosity,perceptions_of_corruption
0,2015,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957
...,...,...,...,...,...,...,...,...,...,...,...
777,2019,Rwanda,NaN,152,3.334,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100
778,2019,Tanzania,NaN,153,3.231,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700
779,2019,Afghanistan,NaN,154,3.203,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500
780,2019,Central African Republic,NaN,155,3.083,0.02600,0.00000,0.10500,0.22500,0.23500,0.03500
781,2019,South Sudan,NaN,156,2.853,0.30600,0.57500,0.29500,0.01000,0.20200,0.09100

# Standardizing Regional Column

## Determining regional values

In [38]:
DF_all['region'].value_counts()

region
Sub-Saharan Africa                 78
Central and Eastern Europe         58
Latin America and Caribbean        46
Western Europe                     42
Middle East and Northern Africa    39
Southeastern Asia                  18
Southern Asia                      14
Eastern Asia                       12
North America                       4
Australia and New Zealand           4
Name: count, dtype: int64

In [39]:
#listing countries in sub_saharan_africa
Sub_Saharan_Africa = DF_all.loc[DF_all['region'].isin(['Sub-Saharan Africa'])]
Sub_Saharan_Africa['Country'].tolist()

['Mauritius',
 'Nigeria',
 'Zambia',
 'Somaliland region',
 'Mozambique',
 'Lesotho',
 'Swaziland',
 'South Africa',
 'Ghana',
 'Zimbabwe',
 'Liberia',
 'Sudan',
 'Congo (Kinshasa)',
 'Ethiopia',
 'Sierra Leone',
 'Mauritania',
 'Kenya',
 'Djibouti',
 'Botswana',
 'Malawi',
 'Cameroon',
 'Angola',
 'Mali',
 'Congo (Brazzaville)',
 'Comoros',
 'Uganda',
 'Senegal',
 'Gabon',
 'Niger',
 'Tanzania',
 'Madagascar',
 'Central African Republic',
 'Chad',
 'Guinea',
 'Ivory Coast',
 'Burkina Faso',
 'Rwanda',
 'Benin',
 'Burundi',
 'Togo',
 'Mauritius',
 'Somalia',
 'Somaliland Region',
 'Nigeria',
 'Zambia',
 'Sierra Leone',
 'Namibia',
 'Cameroon',
 'Ethiopia',
 'South Africa',
 'Kenya',
 'Ghana',
 'Congo (Kinshasa)',
 'Congo (Brazzaville)',
 'Senegal',
 'Mauritania',
 'Zimbabwe',
 'Malawi',
 'Sudan',
 'Gabon',
 'Mali',
 'Botswana',
 'Comoros',
 'Ivory Coast',
 'Angola',
 'Niger',
 'South Sudan',
 'Chad',
 'Burkina Faso',
 'Uganda',
 'Madagascar',
 'Tanzania',
 'Liberia',
 'Guinea',
 'Rwanda',
 'Benin',
 'Togo',
 'Burundi']

In [40]:
#listing countries in Central and Eastern Europe
Central_Eastern_Europe = DF_all.loc[DF_all['region'].isin(['Central and Eastern Europe'])]
Central_Eastern_Europe['Country'].tolist()

['Czech Republic',
 'Uzbekistan',
 'Slovakia',
 'Moldova',
 'Kazakhstan',
 'Slovenia',
 'Lithuania',
 'Belarus',
 'Poland',
 'Croatia',
 'Russia',
 'Kosovo',
 'Turkmenistan',
 'Estonia',
 'Kyrgyzstan',
 'Azerbaijan',
 'Montenegro',
 'Romania',
 'Serbia',
 'Latvia',
 'Macedonia',
 'Albania',
 'Bosnia and Herzegovina',
 'Hungary',
 'Tajikistan',
 'Ukraine',
 'Armenia',
 'Georgia',
 'Bulgaria',
 'Czech Republic',
 'Slovakia',
 'Uzbekistan',
 'Kazakhstan',
 'Moldova',
 'Russia',
 'Poland',
 'Lithuania',
 'Belarus',
 'Slovenia',
 'Turkmenistan',
 'Latvia',
 'Romania',
 'Estonia',
 'Croatia',
 'Kosovo',
 'Azerbaijan',
 'Kyrgyzstan',
 'Serbia',
 'Bosnia and Herzegovina',
 'Montenegro',
 'Hungary',
 'Macedonia',
 'Tajikistan',
 'Albania',
 'Armenia',
 'Ukraine',
 'Georgia',
 'Bulgaria']

In [41]:
#listing countries in Latin America and Caribbean
Latin_America_Caribbean = DF_all.loc[DF_all['region'].isin(['Latin America and Caribbean'])]
Latin_America_Caribbean['Country'].tolist()

['Costa Rica',
 'Mexico',
 'Brazil',
 'Venezuela',
 'Panama',
 'Chile',
 'Argentina',
 'Uruguay',
 'Colombia',
 'Suriname',
 'Trinidad and Tobago',
 'El Salvador',
 'Guatemala',
 'Ecuador',
 'Bolivia',
 'Paraguay',
 'Nicaragua',
 'Peru',
 'Jamaica',
 'Dominican Republic',
 'Honduras',
 'Haiti',
 'Costa Rica',
 'Puerto Rico',
 'Brazil',
 'Mexico',
 'Chile',
 'Panama',
 'Argentina',
 'Uruguay',
 'Colombia',
 'Guatemala',
 'Suriname',
 'Trinidad and Tobago',
 'Venezuela',
 'El Salvador',
 'Nicaragua',
 'Ecuador',
 'Belize',
 'Bolivia',
 'Peru',
 'Paraguay',
 'Jamaica',
 'Dominican Republic',
 'Honduras',
 'Haiti']

In [42]:
#listing countries in Western Europe
Western_Europe = DF_all.loc[DF_all['region'].isin(['Western Europe'])]
Western_Europe['Country'].tolist()

['Switzerland',
 'Iceland',
 'Denmark',
 'Norway',
 'Finland',
 'Netherlands',
 'Sweden',
 'Austria',
 'Luxembourg',
 'Ireland',
 'Belgium',
 'United Kingdom',
 'Germany',
 'France',
 'Spain',
 'Malta',
 'Italy',
 'North Cyprus',
 'Cyprus',
 'Portugal',
 'Greece',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Norway',
 'Finland',
 'Netherlands',
 'Sweden',
 'Austria',
 'Germany',
 'Belgium',
 'Ireland',
 'Luxembourg',
 'United Kingdom',
 'Malta',
 'France',
 'Spain',
 'Italy',
 'North Cyprus',
 'Cyprus',
 'Portugal',
 'Greece']

In [43]:
#listing countries in Middle East and Northern Africa
Middle_East_Northern_Africa = DF_all.loc[DF_all['region'].isin(['Middle East and Northern Africa'])]
Middle_East_Northern_Africa['Country'].tolist()

['Israel',
 'United Arab Emirates',
 'Oman',
 'Qatar',
 'Saudi Arabia',
 'Kuwait',
 'Bahrain',
 'Libya',
 'Algeria',
 'Turkey',
 'Jordan',
 'Morocco',
 'Lebanon',
 'Tunisia',
 'Palestinian Territories',
 'Iran',
 'Iraq',
 'Egypt',
 'Yemen',
 'Syria',
 'Israel',
 'United Arab Emirates',
 'Saudi Arabia',
 'Qatar',
 'Algeria',
 'Kuwait',
 'Bahrain',
 'Libya',
 'Turkey',
 'Jordan',
 'Morocco',
 'Lebanon',
 'Tunisia',
 'Iran',
 'Palestinian Territories',
 'Iraq',
 'Egypt',
 'Yemen',
 'Syria']

In [44]:
#listing countries in Southeastern Asia
Southeastern_Asia = DF_2015.loc[DF_2015['region'].isin(['Southeastern Asia'])]
Southeastern_Asia['Country'].tolist()

['Singapore',
 'Thailand',
 'Malaysia',
 'Indonesia',
 'Vietnam',
 'Philippines',
 'Laos',
 'Myanmar',
 'Cambodia']

In [45]:
#listing countries in Southern Asia 
Southern_Asia  = DF_2015.loc[DF_2015['region'].isin(['Southern Asia'])]
Southern_Asia['Country'].tolist()

['Bhutan',
 'Pakistan',
 'Bangladesh',
 'India',
 'Nepal',
 'Sri Lanka',
 'Afghanistan']

In [46]:
#listing countries in Eastern Asia 
Eastern_Asia = DF_2015.loc[DF_2015['region'].isin(['Eastern Asia'])]
Eastern_Asia['Country'].tolist()

['Taiwan', 'Japan', 'South Korea', 'Hong Kong', 'China', 'Mongolia']

In [47]:
#listing countries in North America
North_America = DF_2015.loc[DF_2015['region'].isin(['North America'])]
North_America['Country'].tolist()

['Canada', 'United States']

In [48]:
#listing countries in Australia and New Zealand
Australia_New_Zealand = DF_2015.loc[DF_2015['region'].isin(['Australia and New Zealand'])]
Australia_New_Zealand['Country'].tolist()

['New Zealand', 'Australia']

## Creating regional flag

In [70]:
# DF_all creating regional column

DF_all.loc[DF_all['Country'].isin(['Mauritius', 'Nigeria', 'Zambia', 'Somaliland region', 'Mozambique', 'Lesotho', 'Swaziland', 
                                  'South Africa', 'Ghana', 'Zimbabwe', 'Liberia', 'Sudan', 'Congo (Kinshasa)', 'Ethiopia', 
                                  'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Botswana', 'Malawi', 'Cameroon', 'Angola',
                                  'Mali', 'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon', 'Niger', 'Tanzania', 
                                  'Madagascar', 'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast', 'Burkina Faso' 
                                  'Rwanda', 'Benin', 'Burundi', 'Togo','Somalia','South Sudan','Namibia','Burkina Faso','Rwanda','Gambia']),
                                'region'] = 'Sub-Saharan Africa'
DF_all.loc[DF_all['Country'].isin(['Czech Republic', 'Uzbekistan', 'Slovakia', 'Moldova', 'Kazakhstan', 'Slovenia', 'Lithuania',
                                   'Belarus', 'Poland', 'Croatia', 'Russia', 'Kosovo', 'Turkmenistan', 'Estonia', 'Kyrgyzstan',
                                   'Azerbaijan', 'Montenegro', 'Romania', 'Serbia', 'Latvia', 'Macedonia', 'Albania', 
                                   'Bosnia and Herzegovina', 'Hungary', 'Tajikistan', 'Ukraine', 'Armenia', 'Georgia', 
                                   'Bulgaria']), 
                                'region'] = 'Central and Eastern Europe'
DF_all.loc[DF_all['Country'].isin(['Costa Rica', 'Mexico','Belize', 'Brazil', 'Venezuela', 'Panama', 'Chile', 'Argentina', 'Uruguay', 
                                  'Colombia', 'Suriname', 'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Ecuador',
                                  'Bolivia', 'Paraguay', 'Nicaragua', 'Peru', 'Jamaica', 'Dominican Republic', 'Honduras',
                                  'Haiti','Trinidad & Tobago']),
                                'region'] = 'Latin America and Caribbean'
DF_all.loc[DF_all['Country'].isin(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Finland', 'Netherlands', 'Sweden', 'Austria',
                                  'Luxembourg', 'Ireland', 'Belgium', 'United Kingdom', 'Germany', 'France', 'Spain', 'Malta', 
                                  'Italy', 'North Cyprus', 'Cyprus', 'Portugal', 'Greece','North Macedonia']),
                                'region'] = 'Western Europe'
DF_all.loc[DF_all['Country'].isin(['Israel', 'United Arab Emirates', 'Oman', 'Qatar', 'Saudi Arabia', 'Kuwait', 'Bahrain', 'Libya',
                                  'Algeria', 'Turkey', 'Northern Cyprus', 'Jordan', 'Morocco', 'Lebanon', 'Tunisia', 'Palestinian Territories', 
                                  'Iran', 'Iraq', 'Egypt', 'Yemen', 'Syria']), 
                                'region'] = 'Middle East and Northern Africa'
DF_all.loc[DF_all['Country'].isin(['Singapore', 'Thailand', 'Malaysia', 'Indonesia', 'Vietnam', 'Philippines', 'Laos', 'Myanmar', 
                                  'Cambodia']),
                                'region'] = 'Southeastern Asia'
DF_all.loc[DF_all['Country'].isin(['Bhutan', 'Pakistan', 'Bangladesh', 'India', 'Nepal', 'Sri Lanka', 'Afghanistan']),
                                'region'] = 'Southern Asia'
DF_all.loc[DF_all['Country'].isin(['Taiwan', 'Japan', 'South Korea', 'Hong Kong','Hong Kong S.A.R., China','Taiwan Province of China', 'China', 
                                   'Mongolia']), 'region'] = 'Eastern Asia'
DF_all.loc[DF_all['Country'].isin(['Canada', 'United States']), 'region'] = 'North America'
DF_all.loc[DF_all['Country'].isin(['New Zealand', 'Australia']), 'region'] = 'Australia and New Zealand'
             
DF_all['region'].value_counts()

region
Sub-Saharan Africa                 196
Central and Eastern Europe         144
Latin America and Caribbean        111
Western Europe                     104
Middle East and Northern Africa     98
Southeastern Asia                   44
Southern Asia                       35
Eastern Asia                        30
North America                       10
Australia and New Zealand           10
Name: count, dtype: int64

In [71]:
null= DF_all[DF_all['region'].isnull()]
print(null)

Empty DataFrame
Columns: [year, Country, region, happiness_rank, happiness_score, perceptions_of_economy, social_support, healthy_life_expectancy, perceptions_of_freedom, perceptions_of_generosity, perceptions_of_corruption]
Index: []

# 6. Export Data

In [74]:
#Export 2015.csv clean data to “Prepared Data”
DF_2015.to_csv(os.path.join(path,'Data','Prepared Data', '2015_clean.csv'), index=False)

In [75]:
#Export 2016.csv clean data to “Prepared Data”
DF_2016.to_csv(os.path.join(path,'Data','Prepared Data', '2016_clean.csv'), index=False)

In [76]:
#Export 2017.csv clean data to “Prepared Data”
DF_2017.to_csv(os.path.join(path,'Data','Prepared Data', '2017_clean.csv'), index=False)

In [77]:
#Export 2018.csv clean data to “Prepared Data”
DF_2018.to_csv(os.path.join(path,'Data','Prepared Data', '2018_clean.csv'), index=False)

In [78]:
#Export 2019.csv clean data to “Prepared Data”
DF_2019.to_csv(os.path.join(path,'Data','Prepared Data', '2019_clean.csv'), index=False)

In [79]:
#Export DF_all.csv clean data to “Prepared Data”
DF_all.to_csv(os.path.join(path,'Data','Prepared Data', 'WHR_ALL.csv'), index=False)